@import url('https://fonts.cdnfonts.com/css/rodondo');

body {
    margin: 0; 
    height: 100vh;
    background-image: url('invsleep.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right center; 
    overflow: hidden;
    color: white;
    font-family: 'Rodondo', sans-serif;
    letter-spacing: 2px;
  }