@import url('https://fonts.cdnfonts.com/css/rodondo');

/*test shit dont mess with it bo
/* styling */
/* Notification styling */
#orientationNotification {
  display: none; /* default hide*/
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* dark bg */
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  z-index: 1000;
  padding: 20px;
  transition: background-color 0.3s ease; /*trans */
}

/* no interact :3 */
#content {
  visibility: hidden; /*hide */
}

/*delete the top if it doesnt fucking work lmfao*/
/*delete the top if it doesnt fucking work lmfao*/


@import url('https://fonts.cdnfonts.com/css/rodondo');

html {
  scroll-behavior: smooth; 
}

body {
    margin: 0; 
    height: 100vh;
    background-image: url('invsleep.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right center; 
    color: white;
    font-family: 'Rodondo', sans-serif;
    letter-spacing: 2px; 
    float: left;
    background-attachment: fixed;
  }

.welcome {
  font-size: 75px;
  text-align: center; 
}

.contents {
  text-align: center; font-size: large;
}
.ann {
  font-size: xx-large;
}

h4 {
  font-size: large;
}

h2 {
  font-size: xx-large;
}

.float-image {
  float: right; 
  margin: 0 15px 15px 0; 
  width: 150px;
  height: auto;
}

img { 
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}




